<div id="gallery" class="container-xxl">
    <div class="grid">
        <div class="grid-sizer"></div>
        {{ range $index, $item := $.Site.Data.gallery }}
            {{ partial "galleryItem.html" (dict "index" $index "item" $item) }}
        {{ end }}
    </div>
</div>

<script>
    const galleryData = [
        {{ range $.Site.Data.gallery }}
            {{ if eq .type "photo" }}
            {{ $imagePath := (print "/photos/" .image )}}
            {{ $image := resources.Get $imagePath }}
            {{ $thumb := $image.Process "resize 256x" }}
            {
                "src": "{{ $image.RelPermalink }}",
                "thumb": "{{ $thumb.RelPermalink }}",
                "subHtml": '<h4>{{ .title }}</h4>\n<p><a href="{{.locationLink}}" target="_blank">{{ .location }}</a></p>\n<p>\n    {{ time.Format "January 2006" $image.Exif.Date }}\n    <span class="mx-1"></span>\n    <i class="bi bi-camera-fill"></i> {{$image.Exif.Tags.Make}} {{$image.Exif.Tags.Model}}\n    <span class="mx-1"></span>\n    <i class="bi bi-record-circle-fill"></i> {{$image.Exif.Tags.FNumber}}\n    <span class="mx-1"></span>\n    <i class="bi bi-stopwatch-fill"></i> {{$image.Exif.Tags.ExposureTime}}\n    <span class="mx-1"></span>\n    <i class="bi bi-info-circle-fill"></i> {{$image.Exif.Tags.ISOSpeedRatings}}\n</p>',
            },
            {{ else }}
                {{ $imagePath := (print "/video-thumbnails/" .thumbnail )}}
                {{ $image := resources.Get $imagePath }}
                {{ $thumb := $image.Process "resize 256x" }}
                {
                    "src": "{{ .src }}",
                    "thumb": "{{ .thumbnail }}",
                    "subHtml": '<h4>{{ .title }}</h4>\n<p><a href="{{.locationLink}}" target="_blank">{{ .location }}</a></p>\n<p>{{ .date }}</p>',
                },
            {{ end }}
        {{ end }}
    ];
</script>
